* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.div {
    /* position: relative; */
    /* width: 100%; */
    height: 100vh; 
    background-image: 
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url('images/landing.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(169, 200, 202);
    text-align: center;
}

.div-title {
    font-size: 3rem;
    font-family: "Playfair Display", serif;
    font-weight:900 ;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
    text-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
.div-subtitle {
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-shadow: 0 4px 12px rgba(0,0,0,0.3);
    margin-bottom: 30px;
}
.div-title:hover {
    letter-spacing: 2px;
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
    text-shadow: 0 6px 18px rgba(0,0,0,0.5);
    animation: fadeIn 1.5s ease-in-out forwards;
    opacity: 0;
}

.div-subtitle:hover {
    opacity: 1;
    transform: scale(1.05);
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 1.5s ease-in-out forwards;
    opacity: 0;
}
button {
    padding: 16px 24px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(169, 200, 202);
    background-color:transparent;
    border: 2px solid rgb(169, 200, 202);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
button:hover {
    background-color: rgba(36, 90, 94, 0.234);
    transform: scale(1.05);
}